<h3  class="text-center" style="border-bottom: 1px solid black; color: red;">
    Cursos
</h3>

<div class="container">
    <!-- inicio row -->
    <div class="row">
        <div class="col-12">
            <div>
                <h3 id="curso" class="novo-curso">Análise e Desenvolvimento de Sistemas</h3>
            </div>
            
        </div>
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6 col-xs-10">
                    
                </div>
                <div class="col-xl-8 col-lg-7 col-md-6  col-xs-2" >
                    Modelar sistemas utilizando Análise Orientada a Objetos e melhores práticas de desenvolvimento (UML, XP, Scrum). Construir projetos de aplicações sob medida (distribuída, web e mobile) aplicando Design Thinking & Propotyping para um cliente real e atualizando sistemas já existentes
                
                </div>
            </div>        
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- fim row-->

    
    <div class="row">
        <div class="col-12">
            <div>
                <h3 id="curso" class="novo-curso">Ciência da Computação</h3>
            </div>
            
        </div>
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6 col-xs-10">
                    
                </div>
                <div class="col-xl-8 col-lg-7 col-md-6  col-xs-2" >
                    Criar, projetar e gerir redes de computadores com protocolos de alto nível, roteadores e swtiches baseados em alta disponibilidade. Implementar soluções e serviços baseados em sistemas Windows e Linux.
                
                </div>
            </div>        
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
    

     
     <div class="row">
        <div class="col-12">
            <div>
                <h3 id="curso" class="novo-curso">Engenharia</h3>
            </div>
            
        </div>
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6 col-xs-10">
                    
                </div>
                <div class="col-xl-8 col-lg-7 col-md-6  col-xs-2" >
                    Gerencia e executa obras como casas, prédios, pontes, viadutos, estradas e barragens. Ele acompanha todas as etapas de uma construção ou reforma, analisa as condições do solo e estuda a insolação e a ventilação do local e até a definição dos tipos de fundação e os acabamentos.
                
                </div>
            </div>        
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
    

      
       <div class="row">
        <div class="col-12">
            <div>
                <h3 id="curso" class="novo-curso">Medicina</h3>
            </div>
            
        </div>
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6 col-xs-10">
                    
                </div>
                <div class="col-xl-8 col-lg-7 col-md-6  col-xs-2" >
                    Faz diagnósticos, pede exames, prescreve medicamentos e realiza cirurgias. Participa também de programas de prevenção e de planejamento da saúde coletiva. Há trabalho para o médico em hospitais, clínicas, postos de saúde e empresas.
                
                </div>
            </div>        
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
    

    
     <div class="row">
        <div class="col-12">
            <div>
                <h3 id="curso" class="novo-curso">Moda</h3>
            </div>
            
        </div>
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6 col-xs-10">
                    
                </div>
                <div class="col-xl-8 col-lg-7 col-md-6  col-xs-2" >
                    O mercado de moda enfrenta diariamente a entrada de novos players, principalmente de marcas que operam diretamente ao consumidor por meio digital (Direct-To-Consumer). O consumidor deseja novas ofertas e produtos com mais frequência, em um ambiente no qual a experiência e o serviço sejam surpreendentes e com marcas que colocam a sustentabilidade como parte da estratégia do negócio.
                </div>
            </div>        
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
    

</div>
