<h3  class="text-center" style="border-bottom: 1px solid black; color: red;">
    Professores 
</h3>

<div class="container">
    <!-- inicio row -->
    <div class="row">
        <div class="col-12">
            <div>
                <h3 id="curso" class="novo-curso">Análise e Desenvolvimento de Sistemas</h3>
            </div>
            
        </div>
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6 col-xs-10">
                    
                </div>
                <div class="col-xl-8 col-lg-7 col-md-6  col-xs-2" >
                    Professor: Raimundo Donatto 
                
                </div>
            </div>        
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
    <!-- fim row-->

    
    <div class="row">
        <div class="col-12">
            <div>
                <h3 id="curso" class="novo-curso">Ciência da Computação</h3>
            </div>
            
        </div>
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6 col-xs-10">
                    
                </div>
                <div class="col-xl-8 col-lg-7 col-md-6  col-xs-2" >
                    Professor: Jorge de Andráde Silva 
                
                </div>
            </div>        
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
    

     
     <div class="row">
        <div class="col-12">
            <div>
                <h3 id="curso" class="novo-curso">Engenharia</h3>
            </div>
            
        </div>
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6 col-xs-10">
                    
                </div>
                <div class="col-xl-8 col-lg-7 col-md-6  col-xs-2" >
                    Professora: Andréia Yamamura 
                
                </div>
            </div>        
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
    

      
       <div class="row">
        <div class="col-12">
            <div>
                <h3 id="curso" class="novo-curso">Medicina</h3>
            </div>
            
        </div>
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6 col-xs-10">
                    
                </div>
                <div class="col-xl-8 col-lg-7 col-md-6  col-xs-2" >
                    Professora: Gisely Francini Frota
                
                </div>
            </div>        
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
    

    
     <div class="row">
        <div class="col-12">
            <div>
                <h3 id="curso" class="novo-curso">Moda</h3>
            </div>
            
        </div>
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-5 col-md-6 col-xs-10">
                    
                </div>
                <div class="col-xl-8 col-lg-7 col-md-6  col-xs-2" >
                   Professor: Drauzio Varella 
                </div>
            </div>        
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
    

</div>

